.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* HERO  */

.hero {
  background-color: var(--dark);
  background-image: linear-gradient(
      0deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/people-office.jpg);

  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--white);
}

/* BENEFITS  */
.benefits-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--dark);
}
.benefits-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.benefit-icon {
  display: none;
}

/* DOING  */

.doing {
  display: none;
}
.section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

/* OUR TEAM  */
.section-content.team {
  display: flex;
  /* flex-direction: row; */
  text-align: center;
}

.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.team-content > .item {
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
}

.section-content.team {
  display: flex;
  text-align: center;
}

.our-team {
  background-color: var(--light);
  padding-bottom: 128px;
}
.social-networks {
  margin-left: 16px;
  margin-right: 16px;
}
.networks-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.network-svg {
  display: flex;

  width: 40px;
  height: 40px;
  gap: 24px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network-svg:hover {
  background-color: var(--hover);
}
.network-svg:focus {
  background-color: var(--hover);
}

.network-item {
  width: 16px;
  height: 16px;
}

/* CUSTOMERS  */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.item > .icon-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-svg > .icon {
  width: 104px;
  height: 56px;
}

.customers .icon-svg {
  fill: #8e8f99;
  display: flex;
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.customers .icon-svg:hover,
.customers .icon-svg:focus {
  border-color: var(--hover);
  fill: var(--hover);
}

@media screen and (min-width: 480px) {
  .container {
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    font-size: 36px;
  }
  .customer-list {
    gap: 16px;
  }

  .customers .icon-svg {
    fill: #8e8f99;
    display: flex;
    width: 190px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
}
